body{
    background-color: lightgray;
}
.fixo {
    background: red;
    height: 104px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.relativo1{
    background: greenyellow;
    height: 26px;
    width: 26px;
    position: relative;
    top: 39px;
    left: 39px;
}
.relativo2{
    height: 20px;
    width: 160px;
    position: relative;
    top: 13px;
    left: 65px;
}
.relativo3{
    position: relative;
    bottom: 50px;
    left: 250px;
}